.bg {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  filter: blur(5px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
